.tabelaDados {
  border-collapse: collapse;
}
.tabelaDados,
.tabelaDados th,
.tabelaDados td {
  border: 1px solid #000;
}
.tabelaDados th,
.tabelaDados td {
  padding: 10px 20px;
}
.tabelaDados thead tr {
  background-color: black;
  color: white;
}
